.previewImage img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 296px;
  width: 296px;
  border-radius: 88.8px;
  margin-bottom: 26px;
}

.previewImage {
  position: relative;
  margin-bottom: 26px;
  cursor: pointer;
}

.addImage {
  box-sizing: border-box;
  position: relative;
  height: 296px;
  width: 296px;
  background-color: #8ea6ab;
  opacity: 0.4;
  border-radius: 88.8px;
  border: none;
  cursor: pointer;
  font-family: ManRope;
  margin-bottom: 26px;
}

.addImageText {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 80px;
  left: 55px;
  cursor: pointer;
}

.addImageText img {
  height: 70px;
  width: 70px;
  margin-bottom: 27px;
  display: flex;
  width: 185px;
  justify-content: center;
  align-items: center;
}

.previewimageEffect {
  background: rgba(49, 60, 62, 0.35);
  position: absolute;
  height: 296px;
  width: 296px;
  top: 0;
  left: 0;
  border-radius: 88.8px;
}
