.sidebar {
  position: fixed;
  padding: 0 28px;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  width: 158px;
  z-index: 100;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.style-wrapper {
  text-align: left;
  background-color: #313C3E;
}

.sidebar .nav-item {
  padding: 18px 0;
  width: 100%;
  height: 5.5%;
}

.nav-link {
  text-decoration: none;
  color: #FFFFFF;
}

.nav-item:hover > a {
  color: #2FF0C2;
}

.nav-item:hover {
  background-color: #2E3839;
}

.logo {
  margin: 0px 16px 0 0;
  vertical-align: sub;
}

.invite-block {
  align-items: center;
  position: absolute;
  bottom: 5%;
  float: top;
  display: flex;
  flex-flow: column wrap;
  color: #939393;
  margin: 0 0 0 24px;
}

.bow-logo {
  padding-bottom: 14px;
}