$indent: calc(8vh + 40px);

.activity-container {
  position: absolute;
  left: 202px;
  top: $indent;
  background-color: #fafbfe;
  width: 100%;
  height: calc(100% - 8vh - 40px - 74px);
  padding: 60px 14px 14px 66px;
}
