form.auth-form {
  display: flex;
  flex-direction: column;

  input {
    width: 100%;
    border: 1px solid rgba(49, 60, 62, 0.2);
    color: #313c3e;
    border-radius: 25px;
    padding: 15px;
    width: calc(100% - 2 * 15px);
    margin-top: 19px;
    font-size: 17px;
    outline: none;
  }

  input::placeholder {
    color: rgba(49, 60, 62, 0.2);
  }

  .input-warning {
    border-color: #ff6d4c;
    color: #ff6d4c;
  }

  button {
    margin-top: 43px;
    text-align: center;
  }

  .passQuestion {
    margin-top: 7px;
    display: flex;
    justify-content: flex-end;

    * {
      right: 0;
      cursor: pointer;
    }

    :hover {
      text-decoration: underline;
    }
  }

  .close-button {
    margin-top: 25px;
  }

  .error {
    color: #ff6d4c;
    border-color: #ff6d4c;
  }

  .error-message {
    padding: 14px 10px;
    line-height: 20px;
    background-color: rgba(255, 109, 76, 0.15);
    border-radius: 10px;
    color: #ff6d4c;
    margin-bottom: 20px;
    transition: display 1s;
  }
}

.buttons-container {
  button {
    text-align: start;
  }
}

button {
  font-weight: bold;
}

.first {
  margin-top: 0;
}

.header-logo {
  width: 140px;
  min-height: 85px;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  line-height: 30px;
  font-size: 21px;
  cursor: default !important;
  margin-bottom: 20px;

  h4 {
    margin-bottom: 0px;
  }

  .additional {
    font-size: 16px;
  }
}

$containerWidth: 300px;
$containerHeight: 934px;
.auth-box {
  max-height: 900px;
  max-width: 440px;
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 35px rgba(227, 227, 227, 0.75);
  border-radius: 45px;
}

.auth-container {
  display: flex;
  flex-direction: column;
  width: $containerWidth;
  margin: 0px 70px 30px;
}

.cross {
  position: absolute;
  top: 3.75%;
  left: 90.28%;
  color: #b7b6b6;
  font-size: 30px;
  font-weight: 600;
  transform: translate(0%, -50%);
}

.divider {
  width: 146%;
  display: flex;
  align-items: center;
  margin: 35px -23% 0;

  .line {
    background-color: #313c3e;
    opacity: 0.25;
    height: 1px;
    width: 44%;
  }

  .middle-text {
    margin: 0 15px;
  }
}

.bold {
  font-weight: 600;
}

.buttons-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.footer {
  margin-bottom: 20px;
  text-align: center;
  padding: 0 24px;
}

.footer-link {
  color: #5c50e0;
  cursor: pointer;
}
