@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 77vw;
  left: 202px;
  padding: 20px 30px;
  height: 8vh;
}

.search-container {
  position: relative;
  display: flex;
  width: 300px;
  height: 16px;
  border: 2px solid rgba(49, 60, 62, 0.05);
  padding: 18px 20px;
  font-size: 12px;
}

.user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-icon {
  position: absolute;
  top: 28%;
  text-align: left;
  vertical-align: middle;
  z-index: 1;
  padding: 0 14px;
}

.search-input {
  text-align: center;
  width: inherit;
  border: none;
  border-radius: 18px;
  outline-width: 0;
}

.icon-row {
  display: flex;
  justify-content: space-between;
  min-width: 88px;
  margin-left: 40px;
}

.my-wishes {
  min-width: 160px;
}
